$color-text-dark1:#333;
$color-text-base:#666;
$color-text-light1:#787878;
$color-text-light2:#999;
$color-red-base:#e75f6a;
$color-bg-base:#f8f8fa;
$color-bg-1:#c46cec;
$font-size-base:1rem;
$font-size-sm1:0.8rem;
$font-size-sm2:0.7rem;
$border-radius:0.1rem;

$padding-base: 20px;